body {
    font-family: "宋体";
}

.header {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
}

.top{
    font-size: 12px;
    color: gray;
    text-align: center;
}

.bottom {
    text-indent: 2em;
    font-size: 12px;
    color: gray;
}l

a {
    text-decoration: none;
}

.btn {
    font-weight: 700;
}

.input {
    color: gray;
}

p {
    font-size: 16px;
    text-indent: 2em;
    line-height: 2em;
}

.img {
    text-align: center;
}
